@using SWP_CarService_Final.Services;
@using User = SWP_CarService_Final.Areas.User.Models.User;
@{
    ViewData["Title"] = "EditAccount";
    Layout = null;
    UserAccountServices userAccount = new UserAccountServices();
    User user = userAccount.getUserByUserName(ViewBag.username);
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add A New Team </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/styleform.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
    <div class="container">
        <div class="p-3 mb-2 bg-white text-dark rounded">
            <div class="header-form">
                <div>
                    <a href="ListOfTeamMembers" class="back-link text-reset">
                        <i class="fa-solid fa-chevron-left"></i>
                    </a>
                </div>
                <div class="pl-5 pr-5 pt-2">
                    <h3>Edit Member Account</h3>
                </div>
            </div>
            <div class="p-4">
                <form asp-action="EditAccount" enctype="multipart/form-data" method="post">
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="username" name="username" placeholder="Username" value="@user.UserName">
                    </div>
                    <div class="form-group">
                        <label for="fullname">Full Name</label>
                        <input type="text" class="form-control" id="" name="fullname" placeholder="Enter your Full Name" value="@user.User_fullname">
                    </div>
                    <div class="form-group">
                        <label for="phone number">Phone Number</label>
                        <input type="text" class="form-control" id="" name="phonenumber" placeholder="Enter Phone Number" value="@user.phone_number">
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email" value="@user.email">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="text" class="form-control" id="password" name="password" placeholder="Password" value="@user.password">
                    </div>
                    <div class="mb-3">
                        <div>
                            <label for="password">Status Account</label>
                        </div>
                        @if (user.account_status)
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="choice1" value="active" checked>
                                <label class="form-check-label" for="choice1">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="choice2" value="inactive">
                                <label class="form-check-label" for="choice2">In-active</label>
                            </div>
                        }
                        else
                        {
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="choice1" value="active" >
                                <label class="form-check-label" for="choice1">Active</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="choice2" value="inactive" checked>
                                <label class="form-check-label" for="choice2">In-active</label>
                            </div>
                        }
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" onclick="submitEditUserAccount()" class="btn btn-primary">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        function submitEditUserAccount() {
            let text = "Do you want to submit this form?";
            if (confirm(text)) {
                alert("your submit successfully");

            } else {
                alert("You canceled!");
            }
        }
    </script>
</body>

</html>

