@using SWP_CarService_Final.Services;
@using SWP_CarService_Final.Models;

@{
    ViewData["Title"] = "ListOfComponent";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    PartService partService = new PartService();
    CategoryServices categoryServices = new CategoryServices();
    @model List<Part>
    bool onChange = false;
}



<div class="main-container content">
    <div class="content-search">
        <div>
            <h3>Components</h3>
        </div>


        <form action="ListOfComponent" method="get">
            <div class="input-group">
                <input name="pageNumber" value="1" type="hidden" class="icheck">
                <input name="onChange" value="true" type="hidden" class="icheck">
                <input type="text" class="form-control" placeholder="Search" name="SearchText">
                <div class="input-group-btn">
                    <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>


        <a href="AddComponent"><button type="button" class="btn btn-primary">Add New Component</button></a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- BEGIN FILTERS -->
            <div class="col-md-3 mt-5">
                <div class="border p-4">
                    <h4 class="grid-title">
                        <i style="font-size: 18px;" class="fa fa-filter"></i> Filters
                    </h4>
                    <hr>

                    <!-- BEGIN FILTER BY CATEGORY -->
                    <form action="ListOfComponent" method="get">
                        <input name="pageNumber" value="1" type="hidden" class="icheck">
                        <input name="onChange" value="true" type="hidden" class="icheck">
                        <h4>By category:</h4>
                        @foreach(var category in categoryServices.getComponentCategory())
                        {
                            <div class="checkbox">
                                <label><input name="filterString" value="@category.category_id.Trim()" type="checkbox" class="icheck" > @category.category_name</label>
                            </div>
                        }
                        <!-- END FILTER BY CATEGORY -->
                        <!-- BEGIN FILTER BY BRAND -->
                        <h4>By Brand:</h4>
                        @foreach(var category in categoryServices.getBrandCategory())
                        {
                            <div class="checkbox">
                                <label><input name="filterString" value="@category.category_id.Trim()" type="checkbox" class="icheck" > @category.category_name</label>
                            </div>
                        }
                        <!-- END FILTER BY BRAND -->
                        <div class="padding"></div>

                        <!-- BEGIN FILTER BY PRICE -->
                        <h4>By Price:</h4>
                        <div class="filter-content">
                            <div class="form-row">
                                <div class="form-group col-md-6 pr-3">
                                    <label>Min</label>
                                    <input type="number" name="StartPrice" class="form-control" id="inputEmail4" placeholder="0">
                                </div>
                                <div class="form-group col-md-6 pl-3 text-right">
                                    <label>Max</label>
                                    <input type="number" name="EndPrice" class="form-control" placeholder="10,000,000">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-4">
                            <button type="submit"
                                    class="btn btn-primary">
                                Filter
                            </button>
                        </div>
                        <!-- END FILTER BY PRICE -->
                    </form>
                </div>
            </div>
            <!-- END FILTERS -->

            <div class="col-md-9 pl-2">
                <!-- Products Section -->
                <div class="row mt-4">
                    @foreach (var part in Model)
                    {
                        <div class="col-6 col-lg-3 mb-5 mb-lg-0 mt-4">
                            <!-- Card -->
                            <div class="card d-block">
                                <img style="height: 230px;" class="card-img-top p-3" src="~/img/@part.img"
                                     alt="Image Description">
                                <div class="card-footer text-center py-4">
                                    <h3 class="h5 mb-1">@part.part_name</h3>
                                    <span class="d-block text-muted font-size-1 mb-1">@part.price VNĐ</span>
                                    <span class="d-block text-muted font-size-1 mb-3">Quantity: @part.quantity</span>
                                    <a class="btn btn-sm btn-outline-primary btn-pill transition-3d-hover px-5"
                                       href="EditComponent?part_id=@part.part_id">Edit</a>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                    }


                </div>
            </div>

            <!-- End Products Section -->
        </div>
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <!-- BEGIN PAGINATION -->
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        @if (ViewBag.CurrentPage > 1)
                        {
                            <li class="page-item">
                                <a class="page-link" href="listOfComponent?pageNumber=@(ViewBag.CurrentPage-1)&onChange=@onChange" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>
                        }

                        @for (int i = 1; partService.GetNumberOfPage(ViewBag.ListComponetRaw) >= i; i++)
                        {
                            <li class="page-item"><a class="page-link" href="listOfComponent?pageNumber=@i&onChange=@onChange">@i</a></li>
                        }  
                        @if (partService.GetNumberOfPage(ViewBag.ListComponetRaw) > ViewBag.CurrentPage)
                        {
                            <li class="page-item">
                                <a class="page-link" href="listOfComponent?pageNumber=@(ViewBag.CurrentPage+1)&onChange=@onChange" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </li>
                        }


                    </ul>
                </nav>
                <!-- END PAGINATION -->
            </div>

        </div>
        <!-- END RESULT -->
    </div>
    <!-- Products Section -->


