@using SWP_CarService_Final.Models
@{
    ViewData["Title"] = "ViewListRequestRepair";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    @model List<TaskDetail>
}

<div class="main-container content">
    <div class="table-Request_Complete_Task ml-2 mr-2">
        <table class="" style="width: 100%;">
            <thead>
                <tr>
                    <th style="width: 10%;">Order ID</th>
                    <th style="width: 15%;">Service</th>
                    <th style="width: 10%;">Brand</th>
                    <th style="width: 15%;">Vehicle</th>
                    <th style="width: 15%;">Vehicle</th>
                    <th style="width: 15%;">Status</th>
                    <th style="width: 20%;">Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in Model)
                {
                    <tr>
                        <td>@task.WorkOrderId</td>
                        <td>@task.task.taskName</td>
                        <td>@task.WorkOrder.brand</td>
                        <td>@task.WorkOrder.model</td>
                        <td>@task.WorkOrder.YoM</td>
                        <td>
                            <div class="active-status">
                                @task.status
                            </div>
                        </td>
                        <td class="table-Request_Complete_Task__action--col">
                            <a class="mr-2" href="/test/TaskDetail/ResponseRequest?wodID=@task.wod_id.Trim()&Response=Process&repair=true"><button type="button" class="btn btn-primary btn-complete">Accept</button></a>
                            <a class="mr-2 icon" href="/user/TaskDetail/delete?taskId=@task.wod_id.Trim()&woid=@task.WorkOrderId"><i class="fa-solid fa-trash-can "></i></a>
                        </td>
                    </tr>
                }
            </tbody>
    </div>
</div>


