@{
    ViewData["Title"] = "view";
    ViewData["direction"] = "Appointment List";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    @model List<Appointment>

}

@section Javascript{
        function deleteService(id) {
    let text = "Are you sure you want to cancel this Appointment?";
    if (confirm(text) == true) {
        window.location = "/Appointment/cancel?id=" + id;
    } else {
        alert("You canceled!");
    }
}
}

<nav>
    <div class="icon-content">
        <span><i class="fa-solid fa-people-group"></i>Appointment List</span>
    </div>
    <div class="link-content">
        <span><a href="./dashboard.html">Dashboard</a><i class="fa-solid fa-angle-right"></i>Appointment List</span>
    </div>
</nav>

<div class="list-appointment__container">
    <div class="row list-appointment__header">
        <h2 class="header__title">Appointment List</h2>
        <a style="background-color: white" href="/Appointment/create" class="">Add New</a>
    </div>

    <div class="row list-appointment__title--container">
        <h4 class="col-2 list-appointment__title">ID</h4>
        <h4 class="col-2 list-appointment__title">Description</h4>
        <h4 class="col-2 list-appointment__title">Time Arrived</h4>
        <h4 class="col-2 list-appointment__title">Created</h4>
        <h4 class="col-2 list-appointment__title">Status</h4>
        <h4 class="col-2 list-appointment__title">Action</h4>
    </div>
    <div class="list-appointment__item--container">
        @foreach (var @appointment in @Model)
        {
            <div class="row list-appointment__item">
                <p class="col-2 list-appointment__item--id">@appointment.appointmentID</p>
                <p class="col-2 list-appointment__item--description">@appointment.description</p>
                <p class="col-2 list-appointment__item--time-arrived">@appointment.timeArrived.ToString("dd/MM/yyyy")</p>
                <p class="col-2 list-appointment__item--created">@appointment.createdAt.ToString("dd/MM/yyyy")</p>
                <p class="col-2 list-appointment__item--customer">@appointment.status</p>
                @if (@appointment.WorkOrderID.Trim().Equals(""))
                {
                    <a class="col-2" onclick="deleteService('@appointment.appointmentID.Trim()')">Cancel</a>
                }
                else
                {
                    <a class="col-2" href="/OrderDetail/view/?WorkOrderID=@appointment.WorkOrderID">View Work Order</a>
                }
               
            </div>
            <div class="row appointment-detail__container">

                @foreach (var @appointmentDetail in @appointment.details)
                {
                    <div class="appointment-detail__item">
                        
                        <p class="appointment-detail__item--name">@appointmentDetail.task.taskName</p>
                    </div>
                }
            </div>
        }
    </div>
</div>

