@using SWP_CarService_Final.Services;

@{
    ViewData["Title"] = "ListOfServices";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewData["direction"] = "ListOfServices";
    TaskService taskService = new TaskService();
}
<nav>
    <div class="icon-content">
        <span><i class="fa-solid fa-screwdriver-wrench"></i>Services</span>
    </div>
    <div class="link-content">
        <span><a href="./dashboard.html">Dashboard</a><i class="fa-solid fa-angle-right"></i>Services</span>
    </div>
</nav>
<div class="main-container content">
    <div class="content-search">
        <div>
            <h3>Services</h3>
        </div>
        <a href="AddService">
            <button type="button" class="btn btn-primary">Add Services</button>
        </a>
    </div>
    <div class="table-services">
        <table style="width: 100%;">
            <tr>
                <th style="width: 10%;">ID</th>
                <th style="width: 20%;">Name Services</th>
                <th style="width: 15%;">Price</th>
                <th style="width: 30%;">Description</th>
                <th style="width: 10%;">Status</th>
                <th>Action</th>
            </tr>
            @foreach (var task in @taskService.getAllTasks())
            {
                <tr>
                    <td>@task.taskID</td>
                    <td>@task.taskName</td>
                    <td>@task.price</td>
                    <td>
                        @task.Description
                    </td>
                    <td>
                        @if (task.active)
                        {
                            <div class="active-status">
                                Active
                            </div>
                        }
                        else
                        {
                            <div class="inactive-status">
                                In-Active
                            </div>
                        }
                    </td>
                    <td class="d-flex justify-content-center align-items-center">
                        <a class="mr-2" href="EditService?task_id=@task.taskID"><button type="button" class="btn btn-warning">Edit</button></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>



