@using Newtonsoft.Json;
@using SWP_CarService_Final.Services;
@using SWP_CarService_Final.Areas.User.Models;


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    IHttpContextAccessor contx = new HttpContextAccessor();
    ManagementServices managementServices = new ManagementServices();
    string cUserString = contx.HttpContext.Session.GetString("cUser");
    User cUser = JsonConvert.DeserializeObject<User>(cUserString);

}

@if (contx.HttpContext.Session.GetString("role") == "admin")
{
    <div class="main-container">
        <div class="group-box row">
            <div class="col-md-3 box-work-order">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticOrderForADay()</div>
                        <div class="text">Work Order</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-bars-progress"></i></div>
                </div>

            </div>
            <div class="col-md-3 box-client">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticNumberOfCustomer()</div>
                        <div class="text">Customer</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-user-tie"></i></div>
                </div>

            </div>
            <div class="col-md-3 box-technician">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticNumberOfEmployee()</div>
                        <div class="text">Employee</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-wrench"></i></div>
                </div>
            </div>
            <div class="col-md-3 box-earning">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticIncomeForADay()</div>
                        <div class="text">Earning</div>
                    </div>
                    <div class="right-box col-md-3">
                        <i class="fa-solid fa-money-bill"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex mr-3">
            <div class="col-md-6 card-box bg-white p-4 mt-5 mr-2" style="border-radius: 12px;">
                <!-- Simple Datatable start -->
                <div class="pd-20 p-2">
                    <h3 class="font-weight-bolder h4">Bar Chart</h3>
                    <h4 class="text-center text-info ">Sale Monthly Reports</h4>
                </div>
                <div class="pb-20">
                    <canvas id="bargraph"></canvas>
                </div>
            </div>
            <!-- Simple Datatable End -->
            <div class="col-md-6 card-box bg-white p-4 mt-5 ml-2" style="border-radius: 12px;">

                <div class="pd-20 p-2">
                    <h3 class="font-weight-bolder h4">Pie Chart</h3>
                    <h4 class="text-center text-info">Sale Monthly Reports</h4>
                </div>
                <div class="pb-20">
                    <canvas id="chartjs-pie"></canvas>
                </div>
            </div>
        </div>
    </div>
}
else if (contx.HttpContext.Session.GetString("role") == "leader")
{
    <div class="main-container">
        <div class="group-box row">
            <div class="col-md-3 box-work-order">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticOrderNotComplete(cUser.UserName)</div>
                        <div class="text">Not Complete Work Order</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-bars-progress"></i></div>
                </div>

            </div>
            <div class="col-md-3 box-item-request">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticRequestComplete(cUser.UserName)</div>
                        <div class="text">Request Complete Task</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-question"></i></div>
                </div>

            </div>
            <div class="col-md-3 box-complete-task">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticRequestRepair(cUser.UserName)</div>
                        <div class="text">Request Repair</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-list-check"></i></div>
                </div>
            </div>
            <div class="col-md-3 box-component-request">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticRequestUseItem(cUser.UserName)</div>
                        <div class="text">Component request</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-wrench"></i></div>
                </div>
            </div>
        </div>

    </div>
}
else if (contx.HttpContext.Session.GetString("role") == "member")
{
    <div class="main-container">
        <div class="group-box row">
            <div class="col-md-6 box-task">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@managementServices.StatisticInProcessTask(cUser.UserName)</div>
                        <div class="text">In ProcessTask</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-file-waveform"></i></div>
                </div>

            </div>
            <div class="col-md-6 box-component">
                <div class="row px-3">
                    <div class="left-box col-md-9">
                        <div class="value">@(managementServices.StatisticRequestComplete(cUser.UserName)+managementServices.StatisticRequestRepair(cUser.UserName)+managementServices.StatisticRequestUseItem(cUser.UserName))</div>
                        <div class="text">Request</div>
                    </div>
                    <div class="right-box col-md-3"><i class="fa-solid fa-wrench"></i></div>
                </div>

            </div>
        </div>
    </div>

}



<!-- Datatable Setting js -->
<script src="~/js/chart.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-pie"), {
            type: "pie",
            data: {
                labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "Novermber", "December"],
                datasets: [{
                    data: [@managementServices.StatisticIncomeByMonthForYear()[0],
    @managementServices.StatisticIncomeByMonthForYear()[1],
    @managementServices.StatisticIncomeByMonthForYear()[2],
    @managementServices.StatisticIncomeByMonthForYear()[3],
    @managementServices.StatisticIncomeByMonthForYear()[4],
    @managementServices.StatisticIncomeByMonthForYear()[5],
    @managementServices.StatisticIncomeByMonthForYear()[6],
    @managementServices.StatisticIncomeByMonthForYear()[7],
    @managementServices.StatisticIncomeByMonthForYear()[8],
    @managementServices.StatisticIncomeByMonthForYear()[9],
    @managementServices.StatisticIncomeByMonthForYear()[10],
    @managementServices.StatisticIncomeByMonthForYear()[11]],
                    backgroundColor: ["red", "blue", "green", "orange", "yellow", "cyan", "pink", "violet", "peach", "maroon", "yellowgreen", "amber",
                    ],
                    borderColor: "transparent"
                }]
            },
            options: {
                maintainAspectRatio: true,
                legend: {
                    display: true
                }
            }
        });
        var barChartData = {
            labels: ["Week 1", "Week 2", "Week 3", "Week 4"],
            datasets: [{
                label: "Sales",
                backgroundColor: 'rgba(43, 213, 251, 0.5)',
                borderColor: 'rgba(23, 158, 251, 1)',
                borderWidth: 1,
                data: [@managementServices.StatisticIncomeByWeekForMonth()[0]
                                , @managementServices.StatisticIncomeByWeekForMonth()[1]
                                , @managementServices.StatisticIncomeByWeekForMonth()[2]
                                , @managementServices.StatisticIncomeByWeekForMonth()[3]]
            }]
        };

        var ctx = document.getElementById('bargraph').getContext('2d');
        window.myBar = new Chart(ctx, {
            type: 'bar',
            data: barChartData,
            options: {
                responsive: true,
                legend: {
                    display: true,
                }
            }
        });

    });
</script>

