@{
    ViewData["Title"] = "view";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    @model List<WorkOrder>

}
<nav>
        <div class="icon-content">
            <span><i style="font-size: 32px;" class="fa-solid fa-file-pen"></i>Work Order</span>
        </div>
        <div class="link-content">
            <span><a class="text-decoration-none" href="/Home/index">Homepage</a><i class="fa-solid fa-angle-right"></i>Work Order</span>
        </div>
    </nav>
<div class="work-order main-container content">
    <div class="work-order__header">
        <div>
            <h3>Work Order</h3>
        </div>
    </div>
    <div class="row work-order__title--container">
        <div class="col work-order__title">ID</div>
        <div class="col work-order__title">Status</div>
        <div class="col work-order__title">Technician</div>
        <div class="col work-order__title">Brand</div>
        <div class="col work-order__title">Model</div>
        <div class="col work-order__title">Year of Manufacturer</div>

        <div class="col work-order__title">Created</div>
        <div class="col work-order__title">Action</div>
    </div>
    <div class="work-order__container">
        @foreach (var @order in @Model)
        {
            <div class="row work-order__item">
                <div class="col work-order__item--ID">@order.WorkOrderID</div>
                <div class="col work-order__item--Status"><span>pending</span></div>
                <div class="col work-order__item--Customer">@order.CreatedBy</div>
                <div class="col work-order__item--Brand">@order.brand</div>
                <div class="col work-order__item--Model">@order.model</div>
                <div class="col work-order__item--YoM">@order.YoM</div>
                <div class="col work-order__item--Amount">@order.Total</div>
                <div class="col work-order__item--Created">@order.createdAt.ToString("dd/MM/yyyy")</div>
                <div class="col work-order__item--Action">
                    <a href="/OrderDetail/view?WorkOrderID=@order.WorkOrderID" class="work-order__Action--Detail">Detail</a>
                </div>
            </div>
        }

    </div>
</div>


